<div class='wrapper'>

  <!-- Message si les webworker ne sont pas accessibles -->
  <div *ngIf='erreur' class='error-wrapper'>
    <app-msg-panel>
      {{erreur}}
      <div><a class='link' href='https://www.google.com/chrome/' target='_blank'>
        Chrome : https://www.google.com/chrome/
      </a></div>
      <div><a class='link' href='https://www.mozilla.org/fr/firefox/new/' target='_blank'>
        Firefox : https://www.mozilla.org/fr/firefox/new/
      </a></div>
    </app-msg-panel>
  </div>

<div class='start-wrapper'>
  <button  class='start-btn' *ngIf='!started'
          (click)='start()' type='button'>
    Start
  </button>
  <button class='stop-btn' *ngIf='started'
          (click)='stop()' type='button'>
    Stop
  </button>

  <label class='start-lbl' >
    <input class='start-input'  type='number' [(ngModel)]='nbCount'/>
  </label>
</div>

  <div class='count-ww-wrapper'>
    <div class='count-ww-label'>Avec webworker</div>
    <app-count-with-ww *ngFor='let loop of loopCount'
                       class='count-ww'
    ></app-count-with-ww>
  </div>

  <div class='count-nw-wrapper'>
    <div class='count-nw-label'>Sans webworker</div>
    <app-count-no-ww *ngFor='let loop of loopCount'
                     class='count-nw'
    ></app-count-no-ww>
  </div>

</div>

