<div class='wrapper'>

  <!-- Message si les webworker ne sont pas accessibles -->
  <div *ngIf='erreur' class='error-wrapper'>
    <app-msg-panel>
      {{erreur}}
      <div><a class='link' href='https://www.google.com/chrome/' target='_blank'>
        Chrome : https://www.google.com/chrome/
      </a></div>
      <div><a class='link' href='https://www.mozilla.org/fr/firefox/new/' target='_blank'>
        Firefox : https://www.mozilla.org/fr/firefox/new/
      </a></div>
    </app-msg-panel>
  </div>

  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>
  <app-count-with-ww></app-count-with-ww>

  <!--
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
  <app-count-no-ww></app-count-no-ww>
-->

</div>

